<!DOCTYPE html>
<html lang="en">
<head>
    @using Res_man_4.Models;
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.title</title>
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/login-view/admin.css">
    <link rel="stylesheet" href="~/Areas/Admin/Content/form/fontawesome-free-5.15.4/fontawesome-free-5.15.4-web/css/all.css">
    <script src="~/Areas/Admin/Content/JS/jquery.js"></script>
    <script src="~/Areas/Admin/Content/JS/admin.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Areas/Admin/dist/js/adminlte.js"></script>
    <link href="~/Areas/Admin/dist/css/AdminLTE.css" rel="stylesheet" />
    s
    <link href="~/Areas/Admin/dist/css/skins/_all-skins.css" rel="stylesheet"
    <link href="~/Areas/Admin/dist/css/skins/icon.css" rel="stylesheet" />
    <script src="~/Areas/Admin/ContentOrder/js/scripts.js"></script>
    <link href="~/Areas/Admin/ContentOrder/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @Styles.Render("~/dist/css")
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/ContentOrder/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="header_khungchinh">
        <div class="namedetai">
            <p class="namedetai_tieude">
                QUẢN LÝ NHÀ HÀNG
            </p>
        </div>
        <div class="icon_menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div class="main">
        <ul class="danhmuc">
            <li class="danhmuc_menu">
                <a href="~/Admin/Home/Index" class="icon_home">
                    <i class="fas fa-home"></i>
                    <span class="tendanhmuc">Trang chủ</span>
                </a>
            </li>
            @*<li class="danhmuc_menu-list">
            <span href="#" class="icon_home-list">
                <span>
                    <i class="fas fa-user-friends"></i>
                    <span class="tendanhmuc">Tài khoản</span>
                </span>
                <span class="danhmuc_menu-icon--list"><i class="fas fa-stream"></i></span>
            </span>
            <ul class="danhsach_list">
                <li class="danhsach-item"><a href="#">Danh sách TK khách hàng</a></li>
                <li class="danhsach-item"><a href="#">Khách hàng vip<</a></li>
            </ul>
        </li>*@
            <li class="danhmuc_menu-list">
                <span class="icon_home-list">
                    <span>
                        <i class="fas fa-user-clock"></i>
                        <span class="tendanhmuc">Nhân viên</span>
                    </span>
                    <span class="danhmuc_menu-icon--list"><i class="fas fa-stream"></i></span>
                </span>
                <ul class="danhsach_list">
                    <li class="danhsach-item"><a href="~/Admin/NHANVIENprofile/Index">Danh sách nhân viên</a></li>
                </ul>
            </li>
            <li class="danhmuc_menu-list">
                <span class="icon_home-list">
                    <a href="" class="icon_home">
                        <span>
                            <i class="fas fa-chalkboard"></i>
                            <span class="tendanhmuc">Bàn</span>
                        </span>
                    </a>
                    <span class="danhmuc_menu-icon--list"><i class="fas fa-stream"></i></span>
                </span>
                <ul class="danhsach_list">
                    <li><a href="#" class="danhsach-item">Danh sách bàn</a></li>

                </ul>
            </li>
            <li class="danhmuc_menu-list">
                <span class="icon_home-list">
                    <span>
                        <i class="fas fa-utensil-spoon"></i>
                        <span class="tendanhmuc">Món ăn</span>
                    </span>
                    <span class="danhmuc_menu-icon--list"><i class="fas fa-stream"></i></span>
                </span>
                <ul class="danhsach_list">
                    <li><a href="~/Admin/MonAn/Index" class="danhsach-item">Quản lý sản phẩm</a></li>
                </ul>
            </li>
            <li class="danhmuc_menu">
                <a href="~/Admin/DatBanCp/Index" class="icon_home">
                    <i class="fas fa-chalkboard"></i>
                    <span class="tendanhmuc">Đơn Hàng</span>
                </a>
            </li>
            <li class="danhmuc_menu">
                <a href="~/Admin/Order/Index" class="icon_home">
                    <i class="fas fa-chalkboard"></i>
                    <span class="tendanhmuc">Order món ăn</span>
                </a>
            </li>
            <li class="danhmuc_menu">
            <a href="~/Home/Index" class="icon_home">
                <i class="fas fa-user-lock"></i>
                <span class="tendanhmuc">Về trang chính</span>
            </a>
        </li>
            <li class="danhmuc_menu">
                <a href="~/Login/Logout" class="icon_home">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="tendanhmuc">Đăng xuất</span>
                </a>
            </li>
        </ul>
        <div class="trangchinh" style="font-size:small;">
            @RenderBody();
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>