@using Res_man_4.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}

<h2>Order</h2>
@*<form action="/Admin/MonAn/Index" method="post">
    <a style="text-align:center; display:block; left:990px;" href="/Admin/MonAn/Create" class="col-sm-1 btn btn-success">Thêm mới </a>
</form>*@
@{ 
    if (Session["Cart"] != null)
    {
        using (Html.BeginForm("Update", "ShoppingCart", FormMethod.Post))
        {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    @*<th scope="col">Mã món ăn</th>*@
                    @*<th>Tên loại</th>*@
                    <th scope="col">Tên món ăn</th>
                    <th scope="col">Ngày đặt</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Số lượng</th>
                    @*<th>Hình món ăn</th>*@
                    @*<th scope="col">Số lần mua</th>*@
                    <th scope="col">Tổng</th>
                </tr>
            </thead>
            <tbody>
           @foreach (var cart in (List<Cart>)Session["Cart"])
            {
                <tr>
                    @*<td>@cart.Monan.mamonan</td>*@
                    @*<td>@cart.maloai</td>*@
                    <td>@cart.Monan.tenmonan</td>
                    <td>@cart.Monan.ngaydat</td>
                    <td>@cart.Monan.giamonan</td>
                    @*<td>@cart.Soluong</td>*@
                    @*<td>@item.hinhmonan</td>*@
                    <td><input type="text" name="soluong" id="soluong" class="input input-group-lg" value="@cart.Soluong" /></td>
                    &nbsp;<span id="errormess" style="color:red;"></span>
                    <td>@(String.Format("{0:N0}", cart.Monan.giamonan * cart.Soluong))</td>
                    <td class="">
                        @*<a href="/Admin/MonAn/Edit/@cart.mamonan">Sửa | </a>*@
                        @*<a href="/Admin/MonAn/Details/@cart.mamonan">Chi tiết | </a>*@
                        @Html.ActionLink("Xóa", "Delete", "ShoppingCart", new { id = cart.Monan.mamonan },
                    new { onclick = "return confirm('Are you sure you want to delete');" })
                    @*<a href="/Admin/Order/Index/@cart.mamonan">Order</a>*@
                    </td>
                </tr>
            }
                <tr>
                    <td colspan="4">Total</td>
                    <td>
                    @{ 
                        List<Cart> temp = (List<Cart>)Session["Cart"];
                        var total = String.Format("{0:N0}", temp.Sum(x => x.Soluong * x.Monan.giamonan));
                    }
                    @total VND
                </td>
                </tr>
            </tbody>
        </table>
            <br />
            @Html.ActionLink("Continue Order?", "Index", "Order",null,new {@class="continue-order"})
            <input type="submit" value="Update"/>
            @Html.ActionLink("CheckOut", "CheckOut", "ShoppingCart")
    }
        }
    else
        {
            <h4>Không có món nào trong giỏ</h4>
        }
}
<script type="text/javascript">
    $(document).ready(function () {
        $(#soluong).keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errormess").html("").show().fadeOut("slow");
                return false;
            }
        }) 
    });
</script>