@model IEnumerable<Res_man_4.Models.NHANVIEN>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách nhân viên</h2>
<form action="/Nhanvien/Index" method="post">
    <a href="/Nhanvien/Create" class="btn btn-primary">Thêm mới</a>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Mã nhân viên</td>
            <td>Tên nhân viên</td>
            <td>Chức vụ</td>
            <td>Ca làm</td>
            <td>Khu vực</td>
            <td>Địa chỉ</td>
            <td>Số điện thoại</td>
            <td>Sửa</td>
            <td>Xóa</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.manv</td>
            <td>@item.tennv</td>
            <td>@item.Chucvu</td>
            <td>@item.calam</td>
            <td>@item.khuvuc </td>
            <td>@item.diachi</td>
            <td>@item.sodienthoai</td>
            <td><a href="/Nhanvien/Edit/@item.manv">Sửa</a></td>
            <td><a href="/Nhanvien/Delete/@item.manv">Xóa</a></td>
        </tr>
        }
    </tbody>
</table>

