@model Res_man_4.Models.NHANVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NHANVIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tennv)
        </dd>

        <dt>
           Chức vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chucvu)
        </dd>

        <dt>
            Ca làm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calam)
        </dd>

        <dt>
            Khu vực
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khuvuc)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachi)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sodienthoai)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.TAIKHOAN.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAIKHOAN.email)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.manv }) |
    @Html.ActionLink("Back to List", "Index")
</p>
